@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: aquamarine;
  width: 100%;
  height: 100%;
  font-family: "Oswald", sans-serif;
}

/* HEADER */
.navbar-brand {
  padding-left: 2rem;
}

.navbar {
  background: #343a40;
  box-shadow: 0 6px 10px rgba(179, 179, 179, 0.5);
}

#menu {
  background: transparent;
  border: none;
  padding-right: 2rem;
}

.menu img {
  width: 30px;
  cursor: pointer;
  position: fixed;
  right: 2.4rem;
  top: 1.4rem;
}

.menuNav {
  position: relative;
  width: 410px;
  height: 50px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(179, 179, 179, 0.5);
  opacity: 0.8;
}

ul {
  display: flex;
  padding-left: 0rem;
}

li {
  list-style: none;
}

.menuNav a {
  display: inline-block;
  width: calc(410px / 4);
  height: 30px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #343a40;
}

.slide {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(410px / 4);
  height: 4px;
  background: #343a40;
  transition: 2s;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  cursor: pointer;
}

.cart {
  position: fixed;
  right: 5.5rem;
}

/* CATALOGO */
.container {
  text-align: center;
  align-items: center;
  background-color: #fff;
  margin-top: 17rem;
  height: 100%;
  opacity: 0.8;
}

.containerProducts {
  text-align: center;
  align-items: center;
  background-color: #fff;
  height: 100%;
  margin: 2rem;
  padding: 1rem;
  opacity: 0.8;
}

.container h3 {
  color: #343a40;
}

.container p {
  color: #343a40;
}

/* FOOTER */
.miFooter {
  display: inline-block;
  align-items: center;
  background-color: #343a40;
  width: 100%;
  height: 20vh;
  bottom: 0;
  margin-top: 2rem;
  box-shadow: 10px 0px 10px rgba(179, 179, 179, 0.5);
}

.miFooter p {
  text-align: center;
  color: #fff;
  margin-top: 0.5rem;
}

.miFooter span {
  display: block;
  text-align: center;
}

.miFooter a {
  display: block;
  text-align: center;
  cursor: pointer;
}

.misRedes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.misRedes img {
  width: 35px;
  margin: 0.5rem;
}
.misRedes img:hover {
  transform: scale(1.2);
  transition: 0.8s;
}

/* BOTONES */
.btns {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: #343a40;
}

/* CARDS */
.cards {
  display: inline-block;
  width: 150px;
  height: 100%;
  border: 1px solid #343a40;
  margin: 2rem;
}

.cards img {
  width: 100%;
}

